// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

*{
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
	background-color: grey;
	font-family:sans-serif;
	font-size:24px;
}

.container{
	width:1920px;
	background-color: black;
	overflow:hidden;
}


.button-container{
	color:white;
	background-color: black;
	height:200px;
	width:95%;
	margin:auto;
	padding-top:5px;;
	text-align: center;
	.button{
		width:7%;
		display: inline-block;

		.button-img{
			width:100%;
		}

		.button-title{
			margin-top:0;
		}

	}
}